body {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0rem;
}

.heading {
    font-size: 40px;
    display: flex;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: azure;
    border: 10px solid orangered;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.column {
    border: 1px solid #E8E8E8;
}

#promptForGridSize {
    background-color: cadetblue;
    margin: 50px;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 6px 20px 0 salmon;
}


#clear {
    margin: 50px;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 6px 20px 0 salmon;
}


