body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: azure;
    border: 10px solid orangered;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.column {
    width: 31.25px;
    height: 31.25px;
    border: 0.5px solid greenyellow;
    background-color: pink;
    box-sizing: border-box;
}